<div class="home">
  <main class="content">
    <h1>Hola, {{ auth.currentUser()?.nombre }} 👋</h1>
    <p class="subtitle">¿Qué querés hacer hoy?</p>

    <div class="modules-grid">
      
        <a *ngFor="let modulo of modulos"
        class="module-card"
        [class.disabled]="!modulo.disponible"
        [routerLink]="modulo.disponible ? modulo.ruta : null">
        <div class="module-icon">{{ modulo.icono }}</div>
        <h3>{{ modulo.titulo }}</h3>
        <p>{{ modulo.disponible ? modulo.descripcion : 'Próximamente' }}</p>
      </a>
    </div>
  </main>
</div>